@charset "UTF-8";
/* CSS Document */

.productbrowsercontainer {
	height: 138px;
	margin-bottom: 10px;
}

/* PRODUCT BROWSER PRODUCT BROWSER PRODUCT BROWSER PRODUCT BROWSER PRODUCT BROWSER PRODUCT BROWSER PRODUCT BROWSER PRODUCT BROWSER PRODUCT BROWSER PRODUCT BROWSER PRODUCT BROWSER PRODUCT BROWSER */
.pb-productdivider, .pb-productdivider2, .pb-productimage_1, .pb-productimage_2, .pb-productimage_3 {
	float: left;
	position: relative;
	top: 10;
}

/* PRODUCTIMAGE WIDTH   ( BASIC: 120PX, 150PX, 180PX )    ( ADVERTISER: 100PX, 130PX, 160PX ) */
.pb-productimage_1 { width: 160px; }

.pb-productimage_2 { width: 190px; }

.pb-productimage_3 { width: 220px; }

.pb-productimage_1 a:link, .pb-productimage_2 a:link, .pb-productimage_3 a:link, .pb-productimage_10 a:link, .pb-productimage_01 a:link,
.pb-productimage_1 a:visited, .pb-productimage_2 a:visited, .pb-productimage_3 a:visited, .pb-productimage_10 a:visited, .pb-productimage_01 a:visited {
	float: left;
	width: 100%;
	padding-top: 115px;
	overflow: hidden;
	text-decoration: none;
	color: #888;
	font-size: 11px;
	text-align: center;
	background-position: 50% 100%;
	background-repeat: no-repeat;
}

.pb-productimage_1 a:hover, .pb-productimage_2 a:hover, .pb-productimage_3 a:hover, .pb-productimage_10 a:hover, .pb-productimage_01 a:hover  {
	text-decoration: none;
	color: #fff;
}

/* PRODUCT BROWSER PRODUCTS */
#pb-round a { background-image: url(../../images/menu/advertiser_round.png); }

#pb-round_hanging a { background-image: url(../../images/menu/advertiser_round_hanging.png); }

#pb-counter a { background-image: url(../../images/menu/advertiser_counter.png); }

#pb-tower a { background-image: url(../../images/menu/advertiser_tower.png); }