
/* COLORSCHEME   COLORSCHEME   COLORSCHEME   COLORSCHEME   COLORSCHEME   COLORSCHEME   COLORSCHEME   COLORSCHEME   COLORSCHEME   COLORSCHEME

BACKGROUND	DARK: 	#19191B
			LIGHT:	#474749
			
HEADER		DARK:	#444
			LIGHT:	#aaa
			
BORDER		DARK:	#19191B
			LIGHT:	#474749
 */
 
.subheader { color: #CCCCCC; }

h1 {
	color: #CCCCCC;
	background-image: none;
}

h2 {
	color: #CCCCCC;
	background-image: none;
}

h3 {
	color: #CCCCCC;
	background-image: none;
}

p { color: #AAA; }

p a:link, p a:visited, h3 a:link, h3 a:visited { color: #40bfff; }

p a:hover, h3 a:hover { color: #FFFFFF; }

/* BODY & BACKGROUNDS   BODY & BACKGROUNDS   BODY & BACKGROUNDS   BODY & BACKGROUNDS   BODY & BACKGROUNDS   BODY & BACKGROUNDS   BODY & BACKGROUNDS */
body {
	background-color:#4E5051;
	color:#FFF;
	background-image:url(../../images/elements/background_grey.jpg);
	background-repeat:repeat-x;
	font-family: "Century Gothic", "century gothic", Century Gothic, sans-serif, Verdana, Arial, Helvetica;
}

/* HEADER     HEADER     HEADER     HEADER     HEADER     HEADER     HEADER     HEADER */
#header_none, #header_light, #header_dark {
	height: 20px;
	font-size: 12px;
	padding-left: 15px;
	padding-top: 4px;
	padding-bottom: 2px;
	margin: 0px;
}

#header_none { color:#FFFFFF; }

#header_light {
	background-color:#363738;
	color:#fff;
}

#header_dark {
	background-color:#363738;
	color:#ddd;
}

#border_light { border: 1px solid #474749; }

#border_dark { border: 1px solid #303233; }

/* FOOTER     FOOTER     FOOTER     FOOTER     FOOTER     FOOTER     FOOTER     FOOTER */
.footer {
	margin-top: 10px;
	position:relative;
	text-align:right;
	padding-top: 5px;
	padding-bottom: 40px;
	font-size: 10px;
	font-weight: normal;
	text-decoration:none;
}

.footer.dark {
	border-top:1px solid #303233;
	color: #666;
}

.footer.dark a:link, .header.dark a:link {
	color: #666;
	text-decoration:none;
}

.footer.dark a:hover, .header.dark a:hover {
	color: #FFFFFF;
	text-decoration:none;
}

.footer.light {
	border-top:1px solid #474749;
	color: #666;
}

.header.light {
	border-top: none;
	color: #666;
}

.footer.light a:link, .header.light a:link, .footer.light a:visited, .header.light a:visited {
	color: #666;
	text-decoration:none;
}

.footer.light a:hover, .header.light a:hover {
	color: #FFFFFF;
	text-decoration:none;
}

.footer_left { text-align:left; }

/* SEARCH     SEARCH     SEARCH     SEARCH     SEARCH     SEARCH     SEARCH     SEARCH */
#search_box {
	width: 190px;
	height: 30px;
	float:right;
}

#search_box #s {
	float: left;
	padding: 1px;
	margin: 4px 0px 0px 0px;
	border: 1px solid #444;
	width: 165px;
	background: none;
	font-size: 9px;
	font-family: "Century Gothic", "century gothic", Century Gothic, sans-serif, Verdana, Arial, Helvetica;
	color:#666;
}

#search_box #go {
	float: right;
	margin: 5px 0px 0px 0px;
	padding: 0px;
}
