@charset "UTF-8";
/* CSS Document */

/* MAINMENU     MAINMENU     MAINMENU     MAINMENU     MAINMENU     MAINMENU     MAINMENU     MAINMENU     MAINMENU     MAINMENU     MAINMENU     MAINMENU     */
.menu {
	min-height: 128px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

/* MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU MENU */

#selected {
	color: #ff0000;
/*	color: #cf2900;   */
	text-decoration:none;
}

.level1 {
	font-family: "Century Gothic", "century gothic", Century Gothic, Verdana, sans-serif, Arial, Helvetica;
	padding-left: 15px;
	padding-top: 5px;
	font-size: 12px;
	font-weight: normal;
	text-decoration:none;
}

.level1 a {
	color:#222;
	text-decoration:none;
}

.level1 a:hover {
	color:#fff;
	text-decoration:none;
}

.level1 a:active {
	color:#ff0000;
	text-decoration:none;
}

.level2 {
	text-decoration:none;
	padding-left: 24px;
	padding-top: 5px;
	font-size: 11px;
	font-weight: normal;
}

.level2 a {
	text-decoration:none;
	color:#222;
}

.level2 a:hover {
	text-decoration: none;
	color: #ff0000;
}

.level3 {
	text-decoration:none;
	padding-left: 18px;
	padding-top: 5px;
	font-size: 9px;
	color:#333;
	font-weight: normal;
}

.level3 a {
	text-decoration:none;
	padding-left: 18px;
	color:#222;
}

.level3 a:hover {
	text-decoration:none;
	color:#fff;
}

#hidden {
	display: none;
	visibility:hidden;
}
