@charset "UTF-8";
/* CSS Document */

.productbrowsercontainer {
	height: 138px;
	margin-bottom: 10px;
}

/* PRODUCT BROWSER PRODUCT BROWSER PRODUCT BROWSER PRODUCT BROWSER PRODUCT BROWSER PRODUCT BROWSER PRODUCT BROWSER PRODUCT BROWSER PRODUCT BROWSER PRODUCT BROWSER PRODUCT BROWSER PRODUCT BROWSER */
.pb-productimage_1, .pb-productimage_2, .pb-productimage_3, .pb-productimage_4 {
	float: left;
	position: relative;
	top: 10px;
}

.pb-productdivider { 
	float: left;
	position: relative;
	width: 1px; 
	background-color:#adaba2; 
	height:138px;
}

/* PRODUCTIMAGE WIDTH   ( BASIC: 120PX, 150PX, 180PX )    ( ADVERTISER: 100PX, 130PX, 160PX ) */
.pb-productimage_1 { width: 70px; }

.pb-productimage_2 { width: 90px; }

.pb-productimage_3 { width: 110px; }

.pb-productimage_4 { width: 130px; }

.pb-productimage_1 a:link, .pb-productimage_2 a:link, .pb-productimage_3 a:link, .pb-productimage_4 a:link,
.pb-productimage_1 a:visited, .pb-productimage_2 a:visited, .pb-productimage_3 a:visited, .pb-productimage_4 a:visited {
	float: left;
	width: 100%;
	padding-top: 105px;
	overflow: hidden;
	text-decoration: none;
	color: #222;
	font-size: 10px;
	text-align: center;
	background-position: 50% 100%;
	background-repeat: no-repeat;
}

.pb-productimage_1 a:hover, .pb-productimage_2 a:hover, .pb-productimage_3 a:hover, .pb-productimage_4 a:hover  {
	text-decoration: none;
	color: #fff;
}

/* PRODUCT BROWSER PRODUCTS */
#pb-tabletop a { background-image: url(../../images/menu/flex_tabletop.gif); }

#pb-frame a { background-image: url(../../images/menu/flex_frame.gif); }

#pb-hanging_small a { background-image: url(../../images/menu/flex_hanging_small.gif); }

#pb-hanging_loft a { background-image: url(../../images/menu/flex_hanging_loft_small.gif); }

#pb-xfod_200 a { background-image: url(../../images/menu/flex_xbase_small.gif); }

#pb-xfod_275 a { background-image: url(../../images/menu/flex_xbase_large.gif); }

#pb-dobbelt_275 a { background-image: url(../../images/menu/flex_dobbelt_small.gif); }

#pb-dobbelt_350 a { background-image: url(../../images/menu/flex_dobbelt_large.gif); }

#pb-dobbeltxl_275 a { background-image: url(../../images/menu/flex_dobbeltxl_dobbelt200.gif); }

#pb-dobbeltxlx2_275 a { background-image: url(../../images/menu/flex_dobbeltxlx2_200.gif); }

#pb-dobbeltx4_275 a { background-image: url(../../images/menu/flex_dobbeltx4_300.gif); }

#pb-xfodx2_dobbeltx2_275 a { background-image: url(../../images/menu/flex_xbasex2_dobbeltx2.gif); }

#pb-totem_square a { background-image: url(../../images/menu/flex_totem_square.gif); }