@charset "UTF-8";
/* CSS Document */

.productbrowsercontainer {
	height: 138px;
	margin-bottom: 10px;
}

/* PRODUCT BROWSER PRODUCT BROWSER PRODUCT BROWSER PRODUCT BROWSER PRODUCT BROWSER PRODUCT BROWSER PRODUCT BROWSER PRODUCT BROWSER PRODUCT BROWSER PRODUCT BROWSER PRODUCT BROWSER PRODUCT BROWSER */
.pb-productdivider, .pb-productimage_1, .pb-productimage_2, .pb-productimage_3 {
	float: left;
	position: relative;
	top: 10;
}

.pb-productimage_10{
	float: left;
	position: relative;
	margin-top: 10px;
	-moz-transform: rotate(180deg);	
}
.pb-productimage_01{
	float: right;
	position: relative;
	margin-top: 19px;
}

.pb-productdivider { width: 1px; background-color: #474749; height:138px;}

/* PRODUCTIMAGE WIDTH   ( BASIC: 120PX, 150PX, 180PX )    ( ADVERTISER: 100PX, 130PX, 160PX ) */
.pb-productdivider { width: 1px; }

.pb-productimage_10, .pb-productimage_01 { width: 50px; }

.pb-productimage_1 { width: 90px; }

.pb-productimage_2 { width: 120px; }

.pb-productimage_3 { width: 150px; }

.pb-productimage_1 a:link, .pb-productimage_2 a:link, .pb-productimage_3 a:link, .pb-productimage_10 a:link, .pb-productimage_01 a:link,
.pb-productimage_1 a:visited, .pb-productimage_2 a:visited, .pb-productimage_3 a:visited, .pb-productimage_10 a:visited, .pb-productimage_01 a:visited {
	float: left;
	width: 100%;
	padding-top: 115px;
	overflow: hidden;
	text-decoration: none;
	color: #888;
	font-size: 11px;
	text-align: center;
	background-position: 50% 100%;
	background-repeat: no-repeat;
}

.pb-productimage_1 a:hover, .pb-productimage_2 a:hover, .pb-productimage_3 a:hover, .pb-productimage_10 a:hover, .pb-productimage_01 a:hover  {
	text-decoration: none;
	color: #fff;
}

/* PRODUCT BROWSER PRODUCTS */
#pb-luma_10 a, #pb-luma_01 a { background-image:url(../../images/menu/navigation_arrow_lumaline.png) }
#pb-luma_10 a:hover, #pb-luma_01 a:hover { background-image:url(../../images/menu/navigation_arrow_lumaline_over.png) }

#pb-adv_10 a, #pb-adv_01 a { background-image:url(../../images/menu/navigation_arrow_advertiser.png) }
#pb-adv_10 a:hover, #pb-adv_01 a:hover { background-image:url(../../images/menu/navigation_arrow_advertiser_over.png) }

#pb-flex_10 a, #pb-flex_01 a { background-image:url(../../images/menu/navigation_arrow_flex.png) }
#pb-flex_10 a:hover, #pb-flex_01 a:hover { background-image:url(../../images/menu/navigation_arrow_flex_over.png) }


#pb-round_01 a { background-image: url(../../images/menu/luma_round_01.png); }

#pb-triangle_01 a { background-image: url(../../images/menu/luma_triangle_01.png); }

#pb-ellipse_01 a { background-image: url(../../images/menu/luma_ellipse_01.png); }

#pb-counter_01 a { background-image: url(../../images/menu/luma_counter_01.png); }

#pb-counter_02 a { background-image: url(../../images/menu/luma_counter_02.png); }

#pb-eight_01 a { background-image: url(../../images/menu/luma_eight_01.png); }

#pb-stool_01 a { background-image: url(../../images/menu/luma_stool_01.png); }