
/* COLORSCHEME   COLORSCHEME   COLORSCHEME   COLORSCHEME   COLORSCHEME   COLORSCHEME   COLORSCHEME   COLORSCHEME   COLORSCHEME   COLORSCHEME		*/
/*																																					*/
/* BACKGROUND	DARK: 	#BEBDB0																														*/
/*				LIGHT:	#E5E3DE																														*/
/*																																					*/
/* HEADER		DARK:	#99978d			DARK:	#bfbdb0																													*/
/* 				LIGHT:	#bfbdb0			LIGHT:	#e5e4dc																													*/
/*																																					*/
/* BORDER		DARK:	#b4b2a8					#d4d2c7																															*/
 		
.subheader { color: #333; }

h1 {
	color: #333;
	background-image: none;
}

h2 {
	color: #333;
	background-image: none;
}

h3 {
	color: #333;
	background-image: none;
}

p { color: #222; }

p a:link,
p a:visited,
h3 a:link,
h3 a:visited { color: #069; }

p a:hover,
h3 a:hover { color: #000; }



/* BODY & BACKGROUNDS   BODY & BACKGROUNDS   BODY & BACKGROUNDS   BODY & BACKGROUNDS   BODY & BACKGROUNDS   BODY & BACKGROUNDS   BODY & BACKGROUNDS */
body {
	background-color:#e5e3de;
	background-image:url(../../images/elements/background_beige_dark.jpg);
	background-repeat:repeat-x;
	font-family: "Century Gothic", "century gothic", Century Gothic, sans-serif, Verdana, Arial, Helvetica;
}



/* HEADER     HEADER     HEADER     HEADER     HEADER     HEADER     HEADER     HEADER */
#header_none, #header_light, #header_dark {
	height: 20px;
	font-size: 12px;
	padding-left: 15px;
	padding-top: 4px;
	padding-bottom: 2px;
	margin: 0px;
}

#header_none { color:#333; }

#header_light {
	background-color:#bfbdb0;
	color:#333;
}

#header_dark {
	background-color:#99978d;
	color:#fff;
}

#border_light { border: 1px solid #b4b2a8; }

#border_dark { border: 1px solid #b4b2a8; }



/* FOOTER     FOOTER     FOOTER     FOOTER     FOOTER     FOOTER     FOOTER     FOOTER */
.footer {
	margin-bottom: 10px;
	position:relative;
	text-align:right;
	padding-top: 5px;
	padding-bottom: 40px;
	font-size: 10px;
	font-weight: normal;
	text-decoration:none;
	}

.footer.dark	{
	border-top:1px solid #303233;
	color: #888;
	}

.header.dark	{
	border-top: none;
	color: #888;
	}

.footer.dark a:link, 
.header.dark a:link {
	color: #888;
	text-decoration:none;
	}

.footer.dark a:hover, 
.header.dark a:hover {
	color: #fff;
	text-decoration:none;
	}

.footer.light	{
	border-top:1px solid #b4b2a8;
	color: #333;
	}

.header.light	{
	border-top: none;
	color: #333;
	}

.footer.light a:link,
.header.light a:link,
.footer.light a:visited,
.header.light a:visited {
	color: #333;
	text-decoration:none;
	}

.footer.light a:hover, 
.header.light a:hover {
	color: #fff;
	text-decoration:none;
	}

.footer_left { 
	text-align:left; 
	}



/* SEARCH     SEARCH     SEARCH     SEARCH     SEARCH     SEARCH     SEARCH     SEARCH */
#search_box {
	width: 190px;
	height: 30px;
	float:right;
	}

#search_box #s {
	float: left;
	padding: 1px;
	margin: 4px 0px 0px 0px;
	border: 1px solid #666;
	width: 165px;
	background: none;
	font-size: 1em;
	font-family: "trebuchet MS", Arial, Helvetica, "Sans Serif";
	color:#666;
	}

#search_box #go {
	float: right;
	margin: 5px 0px 0px 0px;
	padding: 0px;
	}