<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<title>TECH VIEW</title>
<link rel="stylesheet" href="http://aeon.tech-view.com/styles/globalheader.css" type="text/css" charset="utf-8" />
<link rel="stylesheet" href="http://aeon.tech-view.com/styles/skins/flex_productbrowser.css" type="text/css" charset="utf-8" />
<link rel="stylesheet" href="http://aeon.tech-view.com/styles/skins/flex_menu.css" type="text/css" charset="utf-8" />
<link rel="stylesheet" href="http://aeon.tech-view.com/styles/skins/beige_medium.css" type="text/css" charset="utf-8" />
<link rel="stylesheet" href=".http://aeon.tech-view.com/styles/text.css" type="text/css" charset="utf-8" />
<!-- searchfield start      searchfield start      searchfield start      searchfield start  -->
<script language="javascript" type="text/javascript" src="http://aeon.tech-view.com/search/search_jquery.js"></script>
<script language="javascript" type="text/javascript" src="http://aeon.tech-view.com/search/swap.js"></script>
<!-- searchfield end    searchfield end    searchfield end    searchfield end    searchfield end -->
<script language="JavaScript">
if (window.XMLHttpRequest) {
if(document.all){
document.write("<link REL='stylesheet' HREF='http://aeon.tech-view.com/styles/flex_netscape.css' TYPE='text/css'>");
//IE7
}else{
document.write("<link REL='stylesheet' HREF='http://aeon.tech-view.com/styles/flex_netscape.css' TYPE='text/css'>");
//mozilla, safari, opera 9…etc
}
} else {
document.write("<link REL='stylesheet' HREF='http://aeon.tech-view.com/styles/ie.css' TYPE='text/css'>");
// IE6, older browsers
}
</script>
</head>
<body>
<div class="header light">
	<div style="width: 760px; float:left; ">
		<div style="float:right; padding-top:5px;"> <a href="http://aeon.tech-view.com/news.html">News</a>&nbsp;&nbsp;&nbsp;I&nbsp;&nbsp;&nbsp;<a href="http://aeon.tech-view.com/about.html">About us</a> </div>
	</div>
	<div id="search_box">
		<!-- Google CSE Search Box Begins  -->
		<form action="http://aeon.tech-view.com/search_results.html" id="searchbox_009884998799720104796:3ev6lvymplu">
			<input type="hidden" name="cx" value="009884998799720104796:3ev6lvymplu" />
			<input type="hidden" name="cof" value="FORID:11" />
			<input type="text"  name="q" id="s" value="Search" class="swap_value" />
			<input type="image" src="http://aeon.tech-view.com/images/elements/searchfield_light.gif" width="15" height="15" id="go" alt="Search" title="Search" />
		</form>
		<!-- Google CSE Search Box Ends -->
	</div>
</div>
<div id="globalheader_background"> </div>
<div id="globalheader" class="state-contact">
	<ul id="globalnav">
		<li id="luma"><a href="http://aeon.tech-view.com/lumaline/index.html">LUMALINE</a></li>
		<li id="flex"><a href="http://aeon.tech-view.com/flex-display/index.html">FLEX-display</a></li>
		<li id="flag"><a href="http://aeon.tech-view.com/flag-extender/index.html">FLAG-extender</a></li>
		<li id="download"><a href="http://aeon.tech-view.com/download/index.html">Artwork</a></li>
		
		<li id="contact"><a href="http://aeon.tech-view.com/contact/index.html">Kontakt</a></li>
		<li id="blank"><a href="#"></a></li>
		<li id="home"><a href="http://aeon.tech-view.com/index.html">Home</a></li>
	</ul>
</div>
<div id="background_ident">
	<div class="mainwindow">
		<div class="column first">
			<div class="menu" id="border_light">
				<ul>
					<li class="level1"><a href="http://aeon.tech-view.com/contact/index.html">People</a></li>
					<li class="level1"><a href="../form/contact.html" id="selected">Contact me</a></li>
				</ul>
			</div>
		</div>
		<div class="column">
			<!-- CONTENT START      CONTENT START      CONTENT START      CONTENT START      CONTENT START      CONTENT START      CONTENT START      CONTENT START      CONTENT START      CONTENT START -->
			<div id="container770" class="layout2col_right">
				<div class="column">
					<div class="poster" id="border_light">
						<div id="header_light"> </div>
						<div align="center">
							<table>
								<tr>
									<td colspan='6' align='center'>
									<form action='contactme.jsp' method='POST' >
									<table>
										<tr>
											<td colspan='3'>Plese contact me</td>
										</tr>
										<tr>
											<td >
												<span <% if (!nameOk) out.print("class='requered'");%>>Name *</span><br />
												<input border="1px solid #333" type='text' name='name' class='standard' value='<%=mail.getName()%>' />
											</td>
											<td  class='formtable_left'>
												<span <% if (!address1OK) out.print("class='requered'");%>>Address 1 *</span><br />
												<input type='text' name='address1' class='standard' value='<%=mail.getAddress1()%>' />
											</td>
											<td>
												<span <% if (!phoneOk) out.print("class='requered'");%>>Tel *</span><br />
												<input type='text' name='phone' class='standard' value='<%=mail.getPhone()%>' />
											</td>
										</tr>
										<tr>
											<td> 
												<span <% if (!companyOk) out.print("class='requered'");%>>Company *</span><br />
												<input type='text' name='company' class='standard' value='<%=mail.getCompany()%>' />
											</td>
											<td> 
												Address 2<br />
												<input type='text' name='address2' class='standard' value='<%=mail.getAddress2()%>' />
											</td>
											<td> 
												Fax<br />
												<input type='text' name='fax' class='standard' value='<%=mail.getFax()%>' />
											</td>
										</tr>
										<tr>
											<td> 
												Business area<br />
												<input type='text' name='buisness' class='standard' value='<%=mail.getBuisness()%>' />
											</td>
											<td> 
												<span <% if (!countryOk) out.print("class='requered'");%>>Country *</span><br />
												<input type='text' name='country' class='standard' value='<%=mail.getCountry()%>' />
											</td>
											<td> 
												<span <% if (!emailOk) out.print("class='requered'");%>>Email *</span><br />
							<input type='text' name='email' class='standard' value='<%=mail.getEmail()%>' />
							</td>
							</tr>
							<tr>
							<td colspan='3' style='padding-top:3px;'> I would like to be contacted regarding<br />
							</td>
							</tr>
							<tr>
							<td style='padding-top:3px;'>
							<input type=CHECKBOX <%= ((mail.isRetailer()) ? "checked" : "" ) %> name='retailer' />
							Becoming a reseller<br />
							</td>
							<td style='padding-top:3px;'>
							<input type=CHECKBOX <%= ((mail.isCatalouge()) ? "checked" : "") %> name='catalouge' />
							Product catalogue<br />
							</td>
							<td rowspan='2' align='center'>
							<input type="submit" name='first' value='Submit Query' class='button font_default' />
							</td>
							</tr>
							<tr>
							<td>
							<input type=CHECKBOX <%= ((mail.isPricelist()) ? "checked" : "") %>  name='pricelist' />
							Price list<br />
							</td>
							<td> Other
							<input type='text' class='standard' style='width: 130px;' name='other' value='<%=mail.getOther()%>' />
							<br />
							</td>
							</tr>
							<tr>
							<td colspan='3' style='padding-top:3px;'> <span <% if (!pageValid && !first)out.print("class='requered'");%>>* These fields are required</span> </td>
							</tr>
							</table>
							</form>
							</td>
							</tr>
							</table>
						</div>
						<div> </div>
					</div>
				</div>
				<div class="column last">
					<div class="poster h300" id="border_light">
						<div id="header_light"> Address and contact info </div>
						<div>
							<p>Toldbodgade 51C, 3<span class="style3">rd</span> floor<br />
								DK-1253 Copenhagen K<br />
								Denmark<br />
								<br />
								T: +45 33 12 15 00<br />
								F: +45 33 12 15 08<br />
								<br />
								<a href="mailto:info@tech-view.com">E: info@tech-view.com</a></p>
							<br />
							<br />
							<br />
							<p><a href="http://maps.google.com/maps?f=l&amp;hl=en&amp;geocode=&amp;time=&amp;date=&amp;ttype=&amp;q=TECH+VIEW&amp;near=Toldbodgade+51,+DK-1253+K%C3%B8benhavn,+Denmark&amp;sll=55.684613,12.595448&amp;sspn=0.008673,0.021651&amp;ie=UTF8&amp;z=16&amp;om=1" target="_blank">Google Maps</a><br />
								<a href="http://maps.yahoo.com/broadband#mvt=m&amp;q1=toldbodgade%2051%252C%201253%20k%25C3%25B8benhavn%252C%20denmark&amp;trf=0&amp;lon=12.594624&amp;lat=55.6839&amp;mag=3" target="_blank"><br />
								Yahoo! Maps</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- #BeginLibraryItem "/Library/footer.lbi" --><div class="footer light">
	<div style="text-align:left; width: 300px; float:left;">
	</div>
	<div style="text-align:right; width: 660px; float:right;">
		<a href="http://techview.dk/?lang=dk">Danish</a>&nbsp;&nbsp;&nbsp;I&nbsp;&nbsp;&nbsp;<a href="../copyright.html">Copyright 2008</a> &copy; Tech View A/S
	</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3201773-1");
pageTracker._initData();
pageTracker._trackPageview();
</script><!-- #EndLibraryItem --></div>
</div>
</body>
</html>
