<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<title>TECH VIEW</title>
<link rel="stylesheet" href="http://aeon.tech-view.com/styles/globalheader.css" type="text/css" charset="utf-8" />
<link rel="stylesheet" href="http://aeon.tech-view.com/styles/skins/flex_productbrowser.css" type="text/css" charset="utf-8" />
<link rel="stylesheet" href="http://aeon.tech-view.com/styles/skins/flex_menu.css" type="text/css" charset="utf-8" />
<link rel="stylesheet" href="http://aeon.tech-view.com/styles/skins/beige_medium.css" type="text/css" charset="utf-8" />
<link rel="stylesheet" href="http://aeon.tech-view.com/styles/text.css" type="text/css" charset="utf-8" />
<link rel="stylesheet" href="http://aeon.tech-view.com/styles/form.css" type="text/css" charset="utf-8" />
<!-- searchfield start      searchfield start      searchfield start      searchfield start  -->
<script language="javascript" type="text/javascript" src="http://aeon.tech-view.com/search/search_jquery.js"></script>
<script language="javascript" type="text/javascript" src="http://aeon.tech-view.com/search/swap.js"></script>
<!-- searchfield end    searchfield end    searchfield end    searchfield end    searchfield end -->
<script language="JavaScript">
if (window.XMLHttpRequest) {
if(document.all){
document.write("<link REL='stylesheet' HREF='http://aeon.tech-view.com/styles/flex_netscape.css' TYPE='text/css'>");
//IE7
}else{
document.write("<link REL='stylesheet' HREF='http://aeon.tech-view.com/styles/flex_netscape.css' TYPE='text/css'>");
//mozilla, safari, opera 9…etc
}
} else {
document.write("<link REL='stylesheet' HREF='http://aeon.tech-view.com/styles/ie.css' TYPE='text/css'>");
// IE6, older browsers
}
</script>
</head>
<body>
<div class="header light">
	<div style="width: 760px; float:left; ">
		<div style="float:right; padding-top:5px;"> <a href="http://aeon.tech-view.com/news.html">News</a>&nbsp;&nbsp;&nbsp;I&nbsp;&nbsp;&nbsp;<a href="http://aeon.tech-view.com/about.html">About us</a> </div>
	</div>
	<div id="search_box">
		<!-- Google CSE Search Box Begins  -->
		<form action="http://aeon.tech-view.com/search_results.html" id="searchbox_009884998799720104796:3ev6lvymplu">
			<input type="hidden" name="cx" value="009884998799720104796:3ev6lvymplu" />
			<input type="hidden" name="cof" value="FORID:11" />
			<input type="text"  name="q" id="s" value="Search" class="swap_value" />
			<input type="image" src="http://aeon.tech-view.com/images/elements/searchfield_light.gif" width="15" height="15" id="go" alt="Search" title="Search" />
		</form>
		<!-- Google CSE Search Box Ends -->
	</div>
</div>
<div id="globalheader_background"> </div>
<div id="globalheader" class="state-contact">
	<ul id="globalnav">
		<li id="luma"><a href="http://aeon.tech-view.com/lumaline/index.html">LUMALINE</a></li>
		<li id="flex"><a href="http://aeon.tech-view.com/flex-display/index.html">FLEX-display</a></li>
		<li id="flag"><a href="http://aeon.tech-view.com/flag-extender/index.html">FLAG-extender</a></li>
		<li id="download"><a href="http://aeon.tech-view.com/download/index.html">Artwork</a></li>
		
		<li id="contact"><a href="http://aeon.tech-view.com/contact/index.html">Kontakt</a></li>
		<li id="blank"><a href="#"></a></li>
		<li id="home"><a href="http://aeon.tech-view.com/index.html">Home</a></li>
	</ul>
</div>
<div id="background_ident">
	<div class="mainwindow">
		<div class="column first">
			<div class="menu" id="border_light">
				<ul>
					<li class="level1"><a href="http://aeon.tech-view.com/contact/index.html">People</a></li>
					<li class="level1"><a href="../form/contact.html" id="selected">Contact me</a></li>
				</ul>
			</div>
		</div>
		<div class="column">
			<!-- CONTENT START      CONTENT START      CONTENT START      CONTENT START      CONTENT START      CONTENT START      CONTENT START      CONTENT START      CONTENT START      CONTENT START -->
			<div id="container770" class="layout2col_right">
				<div class="column">
					<div class="poster" id="border_light">
						<div id="header_light">Please contact me</div>
						<div class="form">
							<form action='contactme.jsp' method='POST' >
								<table width="400px" cellpadding="0px" cellspacing="0px">
									<tr>
										<td class="form_left">
											<% if (!nameOk) out.print("class='requered'");%>
											<p>Name <span id="selected">*</span><br />
											<input type='text' name='name' class='standard' value='<%=mail.getName()%>' />
											</p>
										</td>
										<td class="form_right">
											<% if (!companyOk) out.print("class='requered'");%>
											<p>Company <span id="selected">*</span><br />
											<input type='text' name='company' class='standard' value='<%=mail.getCompany()%>' />
											</p>
										</td>
										<td class="form_right">
											<p>Business area<br />
											<input type='text' name='buisness' class='standard' value='<%=mail.getBuisness()%>' />
											</p>
										</td>
									</tr>
									<tr>
										<td class="form_left">
											<% if (!address1OK) out.print("class='requered'");%>
											<p>Address 1 <span id="selected">*</span><br />
											<input type='text' name='address1' class='standard' value='<%=mail.getAddress1()%>' />
											</p>
										</td>
										<td class="form_right">
											<p>Address 2<br />
											<input type='text' name='address2' class='standard' value='<%=mail.getAddress2()%>' />
											</p>												
										</td>
										<td class="form_right">
											<!--	<% if (!countryOk) out.print("class='requered'");%>	-->
											<p>Country <span id="selected">*</span><br />
											<input type='text' name='country' class='standard' value='<%=mail.getCountry()%>' />
											</p>
										</td>
									</tr>
									<tr>
										<td class="form_left">
											<% if (!phoneOk) out.print("class='requered'");%>
											<p>Tel <span id="selected">*</span><br />
											<input type='text' name='phone' class='standard' value='<%=mail.getPhone()%>' />
											</p>
										</td>
										<td class="form_right">
											<p>Fax<br />
											<input type='text' name='fax' class='standard' value='<%=mail.getFax()%>' />
											</p>
										</td>
										<td class="form_right">
											<% if (!emailOk) out.print("class='requered'");%>
											<p>Email <span id="selected">*</span><br />
											<input type='text' name='email' class='standard' value='<%=mail.getEmail()%>' />
											</p>
										</td>
									</tr>
									<tr>
										<td colspan='3'>
											<br /><h2>I would like to be contacted regarding</h2>
										</td>
									</tr>
									<tr>
										<td class="form_left">
											<p>
												<input class="checkbox" type='checkbox' <%= ((mail.isRetailer()) ? "checked" : "" ) %> name='retailer' />
												&nbsp; Becoming a reseller</p>
										</td>
										<td class="form_right">
											<p>
												<input class="checkbox" type='checkbox' <%= ((mail.isCatalouge()) ? "checked" : "") %> name='catalouge' />
												&nbsp; Product catalogue</p>
										</td>
										<td class="form_right">
											<p>
												<input class="checkbox" type='checkbox' <%= ((mail.isPricelist()) ? "checked" : "") %>  name='pricelist' />
												&nbsp; Price list</p>
										</td>
									</tr>
									<tr>
										<td class="form_left" colspan="2">
											<p>Other<br />
											<textarea type='text' cols='1' rows='3' name='other' value='<%=mail.getOther()%>' />
											</p>
										</td>
										<td class="form_right" valign="top">
											<p>&nbsp;<br /><input type="submit" name='first' value='Submit Query' /></p>
										</td>
									</tr>
									<tr>
										<td class='form_left' colspan='3'>
											<% if (!pageValid && !first)out.print("class='requered'");%>
											<p><span id="selected">*</span> These fields are required</p><br />
										</td>
									</tr>
								</table>
							</form>
						</div>
					</div>
				</div>
				<div class="column last">
					<div class="poster h300" id="border_light">
						<div id="header_light"> Address and contact info </div>
						<div>
							<p>Toldbodgade 51C, 3<span class="style3">rd</span> floor<br />
								DK-1253 Copenhagen K<br />
								Denmark<br />
								<br />
								T: +45 33 12 15 00<br />
								F: +45 33 12 15 08<br />
								<br />
								<a href="mailto:info@tech-view.com">E: info@tech-view.com</a></p>
							<br />
							<br />
							<br />
							<p><a href="http://maps.google.com/maps?f=l&amp;hl=en&amp;geocode=&amp;time=&amp;date=&amp;ttype=&amp;q=TECH+VIEW&amp;near=Toldbodgade+51,+DK-1253+K%C3%B8benhavn,+Denmark&amp;sll=55.684613,12.595448&amp;sspn=0.008673,0.021651&amp;ie=UTF8&amp;z=16&amp;om=1" target="_blank">Google Maps</a><br />
								<a href="http://maps.yahoo.com/broadband#mvt=m&amp;q1=toldbodgade%2051%252C%201253%20k%25C3%25B8benhavn%252C%20denmark&amp;trf=0&amp;lon=12.594624&amp;lat=55.6839&amp;mag=3" target="_blank"><br />
								Yahoo! Maps</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer light">
			<div style="text-align:left; width: 300px; float:left;"> Tech View A/S </div>
			<div style="text-align:right; width: 660px; float:right;"> <a href="http://aeon.tech-view.com/map.html">Site Map</a>&nbsp;&nbsp;&nbsp;I&nbsp;&nbsp;&nbsp;<a href="http://aeon.tech-view.com/index.html">English</a>&nbsp;&nbsp;&nbsp;I&nbsp;&nbsp;&nbsp;<a href="http://aeon.tech-view.com/copyright.html">Copyright 2007</a> &copy; Tech View A/S </div>
		</div>
	 </div>
</div>
</body>
</html>
