.mf-form {
	width:446px;
	padding:0 0 20px 0;
	margin:0;
	color:#333333;
}
.mf-form td {
	font-size:13px;
}
.mf-form h1, .mf-section, .mf-submit, .mf-endnote {
	clear:both;
}

.mf-alert {
	font-weight:bold;
	clear:both;
	line-height:1.2em;
	color:#CC0000;
}
.mf-comment {
	clear:both;
	line-height:1.2em;
	color:#999999;
}
.mf-radio .mf-comment, .mf-checkbox .mf-comment {
	padding-left:17px;
}
.mf-submit {
	text-align:right;
	padding-top:0;
	padding-bottom:10px;
	margin-left:10px;
	margin-right:16px;
}
.mf-endnote {
	padding-top:5px;
	padding-bottom:5px;
	margin-left:10px;
	margin-right:16px;
	color:#000000;
	font-weight:normal;
}
.mf-section .mf-heading {
	background: url(../../gfx/ktv/common/metaforms/form-heading-bg.gif) repeat-x;
	border-bottom:1px solid #FFFFFF;
	height:23px;
	padding-left:10px;
	padding-top:1px;
	margin-left:0;
	margin-right:0;
}
.mf-heading label {
	padding-top:1px;
	color:#fff;
	width:370px;
	font-weight:bold !important;
	font-size:13px;
}
.mf-heading a.mf-info {
	width:50px;
	text-align:right;
	display:block;
	float:left;
	font-weight:bold;
	padding-top:1px;
}
span.mf-footnote {
	vertical-align:top;
	color:#FF0000;
	font-size:9px;
}
.mf-form label, .mf-form .mf-label-with-icon {
	font-weight:normal;
	float:left;
	margin:0;
	padding:2px 0 0 0;
}
.mf-form .mf-disabled {
	color:#999999;
}
.mf-text label, .mf-text .mf-label-with-icon, .mf-text-half-size label, .mf-text-half-size .mf-label-with-icon, .mf-text-quarter-size label, .mf-text-quarter-size .mf-label-with-icon, .mf-password label, .mf-password .mf-label-with-icon, .mf-password-half-size label, .mf-password-half-size .mf-label-with-icon, .mf-password-quarter-size label, .mf-password-quarter-size .mf-label-with-icon, .mf-select label, .mf-select .mf-label-with-icon, .mf-select-multi label, .mf-select-multi .mf-label-with-icon, .mf-readonly label, .mf-readonly .mf-label-with-icon, .mf-postnr-by label, .mf-postnr-by .mf-label-with-icon, .mf-text-two-parts label, .mf-text-two-parts .mf-label-with-icon, .mf-text-three-parts label, .mf-text-three-parts .mf-label-with-icon, .mf-text-four-parts label, .mf-text-four-parts .mf-label-with-icon, .mf-yes-no label, .mf-yes-no .mf-label-with-icon, .mf-date label, .mf-date .mf-label-with-icon, .mf-date-with-popup label, .mf-date-with-popup .mf-label-with-icon, .mf-date-month-year label, .mf-date-month-year .mf-label-with-icon, .mf-date-time label, .mf-date-time .mf-label-with-icon, .mf-cpr label, .mf-cpr .mf-label-with-icon {
	width:206px;
	margin-right:4px;
}
.mf-radio label, .mf-radio .mf-label-with-icon, .mf-checkbox label, .mf-checkbox .mf-label-with-icon {
	width:403px;
	margin-left:4px;
}
.mf-textarea label, .mf-textarea .mf-label-with-icon, .mf-fileupload label, .mf-fileupload .mf-label-with-icon, .mf-readonly-long label, .mf-readonly-long .mf-label-with-icon {
	width:420px;
}
.mf-label-icon-checked, .mf-label-icon-unchecked, .mf-label-icon-none, .mf-label-icon-mobilephone, .mf-label-icon-fixedphone, .mf-label-icon-internet, .mf-label-icon-tdctv {
	float:left;
	width:20px;
	height:17px;
}
.mf-label-icon-checked {
	background:url(../../global/gfx/metaform/icon_checked.gif) no-repeat;
}
.mf-label-icon-unchecked {
	background:url(../../global/gfx/metaform/icon_unchecked.gif) no-repeat;
}
.mf-label-icon-mobilephone {
	background:url(../../global/gfx/metaform/icon_mobilephone.gif) no-repeat;
}
.mf-label-icon-fixedphone {
	background:url(../../global/gfx/metaform/icon_fixedphone.gif) no-repeat;
}
.mf-label-icon-internet {
	background:url(../../global/gfx/metaform/icon_internet.gif) no-repeat;
}
.mf-label-icon-tdctv {
	background:url(../../global/gfx/metaform/icon_tdctv.gif) no-repeat;
}
.mf-label-text {
	float:left;
	width:186px;
}
.mf-text input, .mf-text-half-size input, .mf-text-quarter-size input, .mf-password input, .mf-password-half-size input, .mf-password-quarter-size input, .mf-postnr-by input, .mf-date-with-popup input, .mf-text-two-parts input, .mf-text-three-parts input, .mf-text-four-parts input, .mf-cpr input {
	width:210px;
	border:1px solid #CCCCCC;
	float:left;
	padding:0;
	margin:0;
	padding-top:2px;
	height:18px;
}
.mf-select select, .mf-select-multi select, .mf-date select, .mf-date-month-year select, .mf-date-time select {
	width:210px;
	float:left;
	margin:0;
	padding:0;
	font-size:9px;
}
.mf-radio input, .mf-checkbox input {
	width:13px;
	float:left;
	margin:0;
	padding:0;
	border:0;
	height:22px;
}
.mf-select-multi select {
	height:auto;
}
.mf-textarea textarea {
	width:420px;
	height:100px !important;
	border:1px solid #CCCCCC;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
}
.mf-fileupload input {
	width:380px;
	border:1px solid #CCCCCC;
}
.mf-text-half-size input, .mf-password-half-size input {
	width:104px;
}
.mf-text-quarter-size input, .mf-password-quarter-size input {
	width:51px;
}
.mf-ghost-label {
	color:#999999;
}
.mf-readonly .mf-value, .mf-readonly .mf-value-align-right {
	width:210px;
	padding:0;
	float:left;
	margin-top:2px;
}
.mf-readonly .mf-value-align-right {
	text-align:right;
}
.mf-readonly-long .mf-value {
	float:left;
	width:auto;
}
.mf-text-two-parts input {
	width:102px;
	margin-right:1px;
}
.mf-text-two-parts input.mf-part2 {
	width:105px;
	margin-right:0;
}
.mf-text-three-parts input {
	width:67px;
	margin-right:1px;
}
.mf-text-three-parts input.mf-part3 {
	width:70px;
	margin-right:0;
}
.mf-text-four-parts input {
	width:49px;
	margin-right:1px;
}
.mf-text-four-parts input.mf-part4 {
	width:54px;
	margin-right:0;
}
.mf-postnr-by input.mf-postnr {
	width:65px;
	margin-right:1px;
}
.mf-postnr-by input.mf-by {
	width:142px;
}
.mf-cpr input.mf-cpr-birthdate {
	width:67px;
}
.mf-cpr div.mf-cpr-dash {
	width:10px;
	float:left;
	text-align:center;
}
.mf-cpr input.mf-cpr-serialnumber {
	width:49px;
}
.mf-form p {
	margin-top:3px;
	margin-bottom:3px;
	margin-left:10px !important;
	width:auto !important;
}
.mf-form p img {
	vertical-align:middle;
}
.mf-section ul, .mf-section ol {
	margin-top:5px;
	margin-bottom:5px;
	padding-left:10px;
	margin-left:16px;
}
.mf-section ol {
	margin-left:22px;
}
.mf-date select, .mf-date-month-year select {
	border:1px solid #CCCCCC;
	margin-right:1px;
}
.mf-date select.mf-day {
	width:46px;
}
.mf-date select.mf-month {
	width:56px;
}
.mf-date select.mf-year {
	width:106px;
	margin-right:0;
}
.mf-date-month-year select.mf-month {
	width:104px;
}
.mf-date-month-year select.mf-year {
	width:105px;
	margin-right:0;
}
.mf-date-time .mf-day {
	width:40px;
}
.mf-date-time .mf-month-year {
	width:80px;
}
.mf-date-time .mf-time {
	width:59px;
	margin-right:0;
}
.mf-date-with-popup input {
	width:104px
}
.mf-date-with-popup a {
	display:block;
	float:left;
	width:30px;
	height:20px;
	margin-top:1px;
	background:url(../../global/gfx/metaform/calendar.gif) no-repeat;
}
.mf-yes-no input {
	display:block;
	float:left;
	width:16px;
	border:0;
}
.mf-yes-no label.mf-yes, .mf-yes-no label.mf-no {
	display:block;
	float:left;
	width:40px;
}
.mf-section .mf-fieldset {
	margin:0;
	padding:4px 0 8px 0;
}
.mf-fieldset-two-columns {
	margin:0;
	margin-left:10px;
	margin-right:10px;
	padding:4px 0 8px 0;
}
.mf-legend {
	clear:both;
	width:420px;
	margin-right:10px;
}
.mf-fieldset .mf-legend {
	padding-left:10px;
}
.mf-fieldset-secondary .mf-text label, .mf-fieldset-secondary .mf-text .mf-label-with-icon, .mf-fieldset-secondary .mf-text-half-size label, .mf-fieldset-secondary .mf-text-half-size .mf-label-with-icon, .mf-fieldset-secondary .mf-text-quarter-size label, .mf-fieldset-secondary .mf-text-quarter-size .mf-label-with-icon, .mf-fieldset-secondary .mf-password label, .mf-fieldset-secondary .mf-password .mf-label-with-icon, .mf-fieldset-secondary .mf-password-half-size label, .mf-fieldset-secondary .mf-password-half-size .mf-label-with-icon, .mf-fieldset-secondary .mf-password-quarter-size label, .mf-fieldset-secondary .mf-password-quarter-size .mf-label-with-icon, .mf-fieldset-secondary .mf-select label, .mf-fieldset-secondary .mf-select .mf-label-with-icon, .mf-fieldset-secondary .mf-select-multi label, .mf-fieldset-secondary .mf-select-multi .mf-label-with-icon, .mf-fieldset-secondary .mf-readonly label, .mf-fieldset-secondary .mf-readonly .mf-label-with-icon, .mf-fieldset-secondary .mf-postnr-by label, .mf-fieldset-secondary .mf-postnr-by .mf-label-with-icon, .mf-fieldset-secondary .mf-text-two-parts label, .mf-fieldset-secondary .mf-text-two-parts .mf-label-with-icon, .mf-fieldset-secondary .mf-text-three-parts label, .mf-fieldset-secondary .mf-text-three-parts .mf-label-with-icon, .mf-fieldset-secondary .mf-text-four-parts label, .mf-fieldset-secondary .mf-text-four-parts .mf-label-with-icon, .mf-fieldset-secondary .mf-yes-no label, .mf-fieldset-secondary .mf-yes-no .mf-label-with-icon, .mf-fieldset-secondary .mf-date label, .mf-fieldset-secondary .mf-date .mf-label-with-icon, .mf-fieldset-secondary .mf-date-with-popup label, .mf-fieldset-secondary .mf-date-with-popup .mf-label-with-icon, .mf-fieldset-secondary .mf-date-month-year label, .mf-fieldset-secondary .mf-date-month-year .mf-label-with-icon, .mf-fieldset-secondary .mf-date-time label, .mf-fieldset-secondary .mf-date-time .mf-label-with-icon, .mf-fieldset-secondary .mf-cpr label, .mf-fieldset-secondary .mf-cpr .mf-label-with-icon {
	margin-left:17px;
	width:193px;
	margin-right:4px;
}
.mf-fieldset-secondary .mf-radio label, .mf-fieldset-secondary .mf-radio .mf-label-with-icon, .mf-fieldset-secondary .mf-checkbox label, .mf-fieldset-secondary .mf-checkbox .mf-label-with-icon {
	width:388px;
	margin-right:4px;
}
.mf-fieldset-secondary .mf-radio input, .mf-fieldset-secondary .mf-checkbox input {
	width:13px;
	float:left;
	margin:0 0 0 17px;
	padding:0;
}
.mf-fieldset-secondary p {
	padding-left:17px;
}
.mf-fieldset-secondary .mf-readonly-long label, .mf-fieldset-secondary .mf-readonly-long .mf-value {
	padding-left:17px;
}
.mf-fieldset-secondary .mf-textarea label, .mf-fieldset-secondary .mf-textarea textarea {
	width:403px;
	margin-left:17px;
}
.mf-fieldset-secondary .mf-comment {
	padding-left:17px;
}
.mf-fieldset-secondary .mf-alert {
	padding-left:17px;
}
.mf-fieldset-secondary .mf-fileupload input {
	margin-left:17px;
}
.mf-fieldset-secondary .mf-fileupload label {
	margin-left:17px;
}
.mf-fieldset-secondary p {
	padding-left:17px !important;
	width:403px !important;
}
.mf-column {
	width:210px !important;
	overflow:hidden;
	float:left;
}
.mf-fieldset-two-columns .mf-text, .mf-fieldset-two-columns .mf-text-half-size, .mf-fieldset-two-columns .mf-text-quarter-size, .mf-fieldset-two-columns .mf-password, .mf-fieldset-two-columns .mf-password-half-size, .mf-fieldset-two-columns .mf-password-quarter-size, .mf-fieldset-two-columns .mf-select, .mf-fieldset-two-columns .mf-select-multi, .mf-fieldset-two-columns .mf-checkbox, .mf-fieldset-two-columns .mf-radio, .mf-fieldset-two-columns .mf-fileupload, .mf-fieldset-two-columns .mf-readonly, .mf-fieldset-two-columns .mf-readonly-long, .mf-fieldset-two-columns p, .mf-fieldset-two-columns ul, .mf-fieldset-two-columns ol {
	margin-left:0;
	width:205px;
}
.mf-fieldset-two-columns .mf-text label, .mf-fieldset-two-columns .mf-text-half-size label, .mf-fieldset-two-columns .mf-text-quarter-size label, .mf-fieldset-two-columns .mf-password label, .mf-fieldset-two-columns .mf-password-half-size label, .mf-fieldset-two-columns .mf-password-quarter-size label, .mf-fieldset-two-columns .mf-select label, .mf-fieldset-two-columns .mf-select-multi label, .mf-fieldset-two-columns .mf-readonly label, .mf-fieldset-two-columns .mf-postnr-by label, .mf-fieldset-two-columns .mf-text-two-parts label, .mf-fieldset-two-columns .mf-text-three-parts label, .mf-fieldset-two-columns .mf-text-four-parts label, .mf-fieldset-two-columns .mf-yes-no label, .mf-fieldset-two-columns .mf-date label, .mf-fieldset-two-columns .mf-date-with-popup label, .mf-fieldset-two-columns .mf-date-month-year label, .mf-fieldset-two-columns .mf-date-time label, .mf-fieldset-two-columns .mf-cpr label {
	width:98px;
}
.mf-fieldset-two-columns .mf-radio label, .mf-fieldset-two-columns .mf-checkbox label {
	width:188px;
}
.mf-fieldset-two-columns .mf-text input, .mf-fieldset-two-columns .mf-text-half-size input, .mf-fieldset-two-columns .mf-text-quarter-size input, .mf-fieldset-two-columns .mf-password input, .mf-fieldset-two-columns .mf-password-half-size input, .mf-fieldset-two-columns .mf-password-quarter-size input, .mf-fieldset-two-columns .mf-postnr-by input, .mf-fieldset-two-columns .mf-date-with-popup input, .mf-fieldset-two-columns .mf-text-two-parts input, .mf-fieldset-two-columns .mf-text-three-parts input, .mf-fieldset-two-columns .mf-text-four-parts input, .mf-fieldset-two-columns .mf-cpr input {
	width:91px;
}
.mf-fieldset-two-columns .mf-select select, .mf-fieldset-two-columns .mf-select-multi select, .mf-fieldset-two-columns .mf-date select, .mf-fieldset-two-columns .mf-date-month-year select, .mf-fieldset-two-columns .mf-date-time select {
	width:91px;
}
.mf-fieldset-two-columns .mf-textarea {
	margin-left:0 !important;
}
.mf-fieldset-two-columns .mf-textarea textarea {
	width:200px;
	width:205px;
	height:100px !important;
}
.mf-fieldset-two-columns .mf-text-half-size input {
	width:91px;
}
.mf-fieldset-two-columns .mf-text-quarter-size input {
	width:51px;
}
.mf-fieldset-two-columns .mf-value {
	width:200px;
}
.mf-fieldset-two-columns p {
	margin-left:0;
	margin-left:0 !important;
	width:205px !important;
}
.mf-fieldset-two-columns .mf-readonly-long label {
	width:205px;
}
.mf-fieldset-two-columns .mf-textarea label {
	width:205px;
}
.mf-fieldset-two-columns .mf-fileupload label {
	width:205px;
}
.mf-fieldset-two-columns .mf-fileupload input {
	width:195px;
}
.mf-fieldset-rows {
	margin-left:10px;
	margin-right:0;
	border-collapse:collapse;
}
.mf-fieldset-rows td {
	padding:0;
}
.mf-fieldset-rows .mf-text, .mf-fieldset-rows .mf-text-half-size, .mf-fieldset-rows .mf-text-quarter-size, .mf-fieldset-rows .mf-password, .mf-fieldset-rows .mf-password-half-size, .mf-fieldset-rows .mf-password-quarter-size, .mf-fieldset-rows .mf-select, .mf-fieldset-rows .mf-select-multi, .mf-fieldset-rows .mf-checkbox, .mf-fieldset-rows .mf-radio, .mf-fieldset-rows .mf-fileupload, .mf-fieldset-rows .mf-readonly, .mf-fieldset-rows .mf-readonly-long, .mf-fieldset-rows p, .mf-fieldset-rows ul, .mf-fieldset-rows ol {
	margin-left:10px;
	width:205px;
}
.mf-fieldset-rows .mf-text label, .mf-fieldset-rows .mf-text-half-size label, .mf-fieldset-rows .mf-text-quarter-size label, .mf-fieldset-rows .mf-password label, .mf-fieldset-rows .mf-password-half-size label, .mf-fieldset-rows .mf-password-quarter-size label, .mf-fieldset-rows .mf-select label, .mf-fieldset-rows .mf-select-multi label, .mf-fieldset-rows .mf-readonly label, .mf-fieldset-rows .mf-postnr-by label, .mf-fieldset-rows .mf-text-two-parts label, .mf-fieldset-rows .mf-text-three-parts label, .mf-fieldset-rows .mf-text-four-parts label, .mf-fieldset-rows .mf-yes-no label, .mf-fieldset-rows .mf-date label, .mf-fieldset-rows .mf-date-with-popup label, .mf-fieldset-rows .mf-date-month-year label, .mf-fieldset-rows .mf-date-time label, .mf-fieldset-rows .mf-cpr label {
	width:98px;
}
.mf-fieldset-rows .mf-radio label, .mf-fieldset-rows .mf-checkbox label {
	width:188px;
}
.mf-fieldset-rows .mf-text input, .mf-fieldset-rows .mf-text-half-size input, .mf-fieldset-rows .mf-text-quarter-size input, .mf-fieldset-rows .mf-password input, .mf-fieldset-rows .mf-password-half-size input, .mf-fieldset-rows .mf-password-quarter-size input, .mf-fieldset-rows .mf-postnr-by input, .mf-fieldset-rows .mf-date-with-popup input, .mf-fieldset-rows .mf-text-two-parts input, .mf-fieldset-rows .mf-text-three-parts input, .mf-fieldset-rows .mf-text-four-parts input, .mf-fieldset-rows .mf-cpr input {
	width:91px;
}
.mf-fieldset-rows .mf-select select, .mf-fieldset-rows .mf-select-multi select, .mf-fieldset-rows .mf-date select, .mf-fieldset-rows .mf-date-month-year select, .mf-fieldset-rows .mf-date-time select {
	width:91px;
}
.mf-fieldset-rows .mf-textarea textarea {
	width:205px;
	height:100px !important;
}
.mf-fieldset-rows .mf-value {
	width:91px;
}
.mf-fieldset-rows p {
	margin-left:0;
}
.mf-form em {
	font-style:normal;
	font-weight:bold;
}
.mf-form a {
	text-decoration:none !important;
	font-weight:bold;
}
.mf-calculation {
	padding-top:5px;
	padding-bottom:5px;
	margin-left:0 !important;
	margin-right:0 !important;
}
.mf-calculation-item, .mf-calculation-total {
	clear:both;
}
.mf-calculation-total {
	border-top:1px solid white;
	clear:both;
	background: url(../../gfx/ktv/common/metaforms/form-heading-bg.gif) repeat-x;
	color:white;
	height:18px;
	font-weight:bold;
}
.mf-calculation-name {
	width:316px;
	margin-left:10px;
	margin-right:4px;
	float:left;
	display:inline;
}
.mf-calculation-amount {
	float:left;
	width:100px;
	text-align:right;
}
.mf-calculation-name img, .mf-calculation-amount img {
	vertical-align:middle;
}
.mf-calculation .mf-calculation-divider {
	border-top:1px solid #AAB9CC;
	margin:0 16px 0 10px;
	clear:both;
}
.mf-alerts {
	color:#FF0000;
	padding-bottom:10px;
	font-weight:bold;
	padding-left:10px;
	background:#A00037;
	color:#FFFFFF;
	padding-top:5px;
	font-size:11px;
}
.mf-alerts p {
	margin-left:0;
}
.mf-alerts ul {
	margin:2px 0 2px 16px;
	padding:0;
}
.mf-bug {
	clear:both;
	height:1px;
	overflow:hidden;
}
.mf-hidden {
	display:none;
}
.mfl-section, .mfl-section-wide {
	margin-bottom:15px;
	padding:4px 10px 4px 10px;
}
.mfl-section {
	background:url(../../global/gfx/greyfade2.gif) repeat-y left;
}
.mfl-section-wide {
	background:url(../../global/gfx/greyfade3.gif) repeat-y left;
}
.mfl-heading, .mfl-heading-wide {
	background-color:#AAB9CC;
	border-bottom:1px solid #FFFFFF;
	height:19px;
	font-weight:bold;
	color:#000000;
	font-size:13px;
	padding-top:2px;
	padding-left:10px;
}
.mfl-section, .mfl-heading {
	width:384px;
}
.mfl-section-wide, .mfl-heading-wide, .mfl-submit-wide {
	width:576px;
}
.mfl-label {
	font-weight:bold;
	color:#000000;
	font-size:13px;
}
.mfl-input-text {
	font-weight:normal;
	border:1px solid #CCCCCC;
	font-size:13px;
}
.mfl-button {
	font-weight:bold;
	border-width:1px;
	border-style:solid;
	border-color:#999999 #666666 #666666 #999999;
	background:#FFFFFF url(../../tdc/gfx/button.gif);
	cursor:pointer;
}
.mfl-footnote {
	vertical-align:20%;
	color:#FF0000;
	font-weight:normal;
	font-size:9px;
}
.mfl-endnote {
	font-weight:bold;
	font-size:13px;
	color:#FF0000;
}
.mfl-alert {
	font-size:13px;
	line-height:1.2em;
	color:#FF0000;
	font-weight:bold;
}
.mfl-comment {
	font-size:13px;
	font-weight:normal;
	line-height:1.2em;
}
/* Nedenstående fjernes fra publish.css /*

/*mf progressbar*/
.k_mf_progress {
	margin:10px 0 0 0;
	width:445px;
	border-style:solid;
	border-width:1px;
	border-color:#848284 #d6d3ce #d6d3ce #828284;
	padding:1px 0
}
.k_mf_progress_bg {
	position:relative;
	margin:0 1px;
	height:7px;
	background:#ececec
}
.k_mf_progress_indicator {
	position:absolute;
	top:0;
	left:0;
	height:7px;
	background:#69a800;
	overflow:hidden
}
/* Nedenstående fjernes fra lists.css /*
		
/*mf progressbar*/
.k_mf_progress_list_3, .k_mf_progress_list_4 {
	list-style-type:none;
	margin-top:4px!important;
	height:20px;
	font-size:11px;
	color:#666
}
.k_mf_progress_list_3 li, .k_mf_progress_list_4 li {
	float:left;
	width:141px;
	margin:0;
	padding-left:8px;
	background:url(../../gfx/ktv/local/metaform/mf_progress_arrow_inactive.gif) no-repeat 0 4px
}
.k_mf_progress_list_4 li {
	width:103px
}
.k_mf_progress_list_3 li.k_current, .k_mf_progress_list_4 li.k_current {
	background:url(../../gfx/ktv/colorschemes/shared/mf_progress_arrow_active.gif) no-repeat 0 4px;
	color:#000
}
