/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> global settings needed for thickbox <<<-----------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
*{padding: 0; margin: 0;}

html, body {
min-height: 100%;
height: auto !important;
height: 100%
}


/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox specific link and font settings <<<------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TB_window {
	font-family: "trebuchet MS", Arial, Helvetica, "Sans Serif";
	font-size: 10px;
	color: #000000;
	font-weight: normal;
}

#TB_secondLine {
	font-family: "trebuchet MS", Arial, Helvetica, "Sans Serif";
	font-size: 10px;
	color:#333333;
}

#TB_window a:link {
	color: #FFF;
	text-decoration: none;
	}
#TB_window a:visited {
	color: #FFF;
	text-decoration: none;

}
#TB_window a:hover {
	color: #000;
	text-decoration: none;
}
#TB_window a:active {
	color: #FFF;
	text-decoration: none;
}
#TB_window a:focus{
	color: #FFF;
	text-decoration: none;
}

/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox settings <<<-----------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TB_overlay {
	position: absolute;
	z-index:500;
	top: 0px;
	left: 0px;
	background-color:#000;
	filter:alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
}

#TB_window {
	position: absolute;
	background-color:#474749;
	z-index: 2500;
	color:#000000;
	display:none;
	border: 1px solid #2b2b2c;
	text-align:left;
}

#TB_window img {
	display:block;
	margin: 15px 0 0 15px;
}

#TB_caption{
	height:25px;
	padding:5px 15px 10px 15px;
	display: block;
}

#TB_closeWindow{
	height:25px;
	padding:5px 15px 10px 0;
	float:right;
}

#TB_closeAjaxWindow{
	padding:5px 10px 7px 0;
	margin-bottom:1px;
	text-align:right;
	float:right;
}

#TB_ajaxWindowTitle{
	float:left;
	padding:7px 0 5px 10px;
	margin-bottom:1px;
}

#TB_title{
	background-color:#FFF;
	height:27px;
}

#TB_ajaxContent{
	clear:both;
	padding:2px 15px 15px 15px;
	overflow:auto;
	text-align:left;
	line-height:1.4em;
}

#TB_ajaxContent p{
	padding:5px 0px 5px 0px;
}

#TB_load{
	position: absolute;
	display:none;
	height:100px;
	width:100px;
	z-index:101;
}

#TB_HideSelect{
	z-index:99;
	position:absolute;
	top: 0;
	left: 0;
	background-color:#fff;
	border:none;
	filter:alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
}

#TB_iframeContent{
	clear:both;
	border:none;
	margin-bottom:-1px;
	margin-top:1px;
	margin-bottom:1px;
}

