<%@page contentType="text/html"%>
<%@taglib prefix="techview" uri="/techview.tld"%>
<%@page errorPage='/error.jsp'%>
<techview:controler/>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
    <head>
    <techview:pageid id="Contact" toolBarColor="Grey"/>
        <meta name="Keywords" content="<techview:string bundle='pageKeywords' name='home' />"/> 
        <meta name="Description" content="<techview:string bundle='pageDescription' name='home' />"/>         
        <jsp:include page='/tools/meta.jsp'/>
        <title>Tech View - <techview:string bundle='ftp' name='access' /></title>
    </head>
    <body>
        <h1><techview:string bundle='ftp' name='access' /></h1>
        
        <p><techview:string bundle='ftp' name='connectDownload' />
        
        <a href='publicDownloadFTPinterface.html'><techview:string bundle='ftp' name='connect' /></a>
        </p>
        <br><br>
        <p><techview:string bundle='ftp' name='connectUpload' />
        <a href='publicUploadFTPinterface.html'><techview:string bundle='ftp' name='connect' /></a>
        </p>
        <br>
        <br>
        <p align="left"><a href='http://tech-view.com/index.jsp'>Home</a></p>
    </body>
</html>



