<html>
    <head>
        <title>Tech View - Error</title>
    </head>
    <body>
<table width='768' height='100%' align='center'>
    <tr>
        <td align='center'>
<table width='768' height='412' border='0' class='layout_maintable' >
    <tr>
        <td width='768' height='91' colspan='6' align='left' class='font_default' style='vertical-align:top'>
		<br><!-- Insert logo here -->
        </td>
    </tr>
    <tr>
        <td width='768' height='272' colspan='6' align='center' class='font_default' style='vertical-align:top'>
            <br>
            <br>
            <h1>Error</h1><br>
            To report a bug on the website please send an email to <a href='mailto:webmaster@tech-view.com'>webmaster@tech-view.com</a> to report this bug<br>
            <br>
            <!-- Technical info can only be used on jsp pages.
		<b>Tecnical information: </b><br>
	     Exception: <%= pageContext.getException().toString() %><br>
            Stack Trace: <br>
            <% pageContext.getException().printStackTrace(new java.io.PrintWriter(out)); 
               pageContext.getException().printStackTrace();
               Throwable rootCause = null;
               rootCause = pageContext.getException().getCause();
               while (rootCause != null && rootCause.getCause() != null) {
                   rootCause = rootCause.getCause();
               }
               if (rootCause != null){
                    %>
                        Root Cause: <%=rootCause.toString() %><br>
                        Stack Trace: <br>
                    <%
                    rootCause.printStackTrace(new java.io.PrintWriter(out));
                    rootCause.printStackTrace();
               }
            %>
		-->
		<br>
            <br>
        </td>
    </tr>
    <tr>
        <td height='24' width='128' class='footerfield' align='center'>
        </td>
        <td height='24' width='128' class='footerfield' align='center'>
        </td>
        <td height='24' width='128' class='footerfield' align='center'>
        </td>
        <td height='24' width='384' colspan='3'  class='footerfield' align='right'>
        </td>
    </tr>
</table>
</td>
</tr>
</table>
    </body>
</html>



</body>
</html>


