/* BACKGROUND IDENT     BACKGROUND IDENT     BACKGROUND IDENT     BACKGROUND IDENT     BACKGROUND IDENT     BACKGROUND IDENT     BACKGROUND IDENT     BACKGROUND IDENT*/
#background_ident {
	background-position:top right;
	width: 700;
	height: 900;
	z-index: 500;
	background-image: url(../images/elements/ident_flex.png);
	background-repeat:no-repeat;
}



/* POSTER BACKGROUND     POSTER BACKGROUND     POSTER BACKGROUND     POSTER BACKGROUND     POSTER BACKGROUND     POSTER BACKGROUND     POSTER BACKGROUND      */
.poster, .menu, .productbrowsercontainer	{
	background-image: url(../../images/elements/content_bg_900.png);
	}
	