@charset "UTF-8";
/* CSS Document */

/* GLOBALHEADER BACKGROUND */
#globalheader_background {
	width: 50%;
	height: 80px;
	position: relative;
	z-index: 1000;
}

/* GLOBALHEADER */
#globalheader {
	width: 960px;
	height: 30px;
	margin: -30px auto;
	position: relative;
	z-index: 2000;
}

#globalheader #globalnav {
	margin: 0;
	padding: 0;
}

#globalheader #globalnav li { display: inline; }

#globalheader #globalnav li a {
	float: left;
	width: 120px;
	height: 0;
	padding-top: 30px;
	overflow: hidden;
}

#globalheader #globalnav li a, #globalheader {
	background-image: url(../images/menu_main_uk.gif);
	background-repeat: no-repeat;
}

/* BUTTONS */
#globalheader #globalnav li#luma a { background-position: 0 0; }

#globalheader #globalnav li#flex a { background-position: -120px 0; }

#globalheader #globalnav li#flag a { background-position: -240px 0; }

#globalheader #globalnav li#download a { background-position: -360px 0; }

#globalheader #globalnav li#upload a { background-position: -480px 0; }

#globalheader #globalnav li#contact a { background-position: -600px 0; }

#globalheader #globalnav li#blank a { background-position: -720px 0; }

#globalheader #globalnav li#home a { background-position: -840px 0; }

/* OVER STATES */
#globalheader #globalnav li#luma a:hover { background-position: 0 -35px; }

#globalheader #globalnav li#flex a:hover { background-position: -120px -35px; }

#globalheader #globalnav li#flag a:hover { background-position: -240px -35px; }

#globalheader #globalnav li#download a:hover { background-position: -360px -35px; }

#globalheader #globalnav li#upload a:hover { background-position: -480px -35px; }

#globalheader #globalnav li#contact a:hover { background-position: -600px -35px; }

#globalheader #globalnav li#blank a { background-position: -720px 0; }

#globalheader #globalnav li#home a:hover { background-position: -840px -35px; }

/* PRESSED STATES */
#globalheader #globalnav li#luma a:active { background-position: 0 -70px; }

#globalheader #globalnav li#flex a:active { background-position: -120px -70px; }

#globalheader #globalnav li#flag a:active { background-position: -240px -70px; }

#globalheader #globalnav li#download a:active { background-position: -360px -70px; }

#globalheader #globalnav li#upload a:active { background-position: -480px -70px; }

#globalheader #globalnav li#contact a:active { background-position: -600px -70px; }

#globalheader #globalnav li#blank a { background-position: -720px 0; }

#globalheader #globalnav li#home a:active { background-position: -840px -70px; }

/* ON STATES */
#globalheader.state-luma #globalnav li#luma a { background-position: 0 -105px; }

#globalheader.state-flex #globalnav li#flex a { background-position: -120px -105px; }

#globalheader.state-flag #globalnav li#flag a { background-position: -240px -105px; }

#globalheader.state-download #globalnav li#download a { background-position: -360px -105px; }

#globalheader.state-upload #globalnav li#upload a { background-position: -480px -105px; }

#globalheader.state-contact #globalnav li#contact a { background-position: -600px -105px; }

#globalheader.state-blank #globalnav li#blank a { background-position: -720px 0; }

#globalheader.state-home #globalnav li#home a { background-position: -840px -105px; }

/* GLOBAL NAV */
#globalheader #globalnav li a, #globalheader {
	background-image: url(../images/menu_main_uk.gif);
}

#globalheader_background {
	background-image: url(../images/menu_top_80.gif);
}
