@charset "UTF-8";

/* CSS Document */

/* BROWSER CHECK / FIX   BROWSER CHECK / FIX   BROWSER CHECK / FIX   BROWSER CHECK / FIX   BROWSER CHECK / FIX   BROWSER CHECK / FIX   BROWSER CHECK / FIX */



/* RESET   RESET   RESET   RESET   RESET   RESET   RESET   RESET   RESET   RESET   RESET   RESET   RESET   RESET   RESET   RESET   RESET   RESET   RESET */
html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, fieldset, input {
	margin: 0px;
	padding: 0px;
}

h1, h2, h3, h4, h5, h6, pre, code, address, caption, cite, code, em, strong, th {
	font-size: 1em;
	font-weight: normal;
	font-style: normal;
}

ul, ol { list-style: none; }

fieldset, img { border: none; }

caption, th { text-align: left; }

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* BODY    BODY    BODY    BODY    BODY    BODY    BODY    BODY    BODY    BODY    BODY    BODY    BODY    BODY    BODY    BODY    BODY    BODY    */
html	{ height: 100%; margin-bottom: 1px; }


/* TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT  TEXT TEXT TEXT TEXT  TEXT TEXT TEXT TEXT  TEXT TEXT TEXT TEXT  TEXT TEXT TEXT TEXT  TEXT TEXT TEXT */
h1 {
	font-size:18px;
	padding-left: 15px;
	padding-top: 4px;
}

h2 {
	font-size:14px;
	padding-left: 15px;
	padding-top: 4px;
}

h3 {
	font-size:12px;
	padding-left: 15px;
	padding-top: 4px;
}

p {
/*	font-family: "trebuchet MS", Arial, Helvetica, "Sans Serif"; */
/*	font-family:Verdana, Arial, Helvetica, sans-serif;  */
	font-family:Arial, Helvetica, sans-serif;
	font-weight:100;
	text-decoration: none;
	word-spacing: normal;
	line-height: 1.3em;
	font-size: 0.7em;
	padding-left: 15px;
	padding-right: 25px;
	padding-top: 8px;
}

p a:link,
p a:visited,
h3 a:link,
h3 a:visited { text-decoration: none; }

p a:hover,
h3 a:hover { text-decoration: underline; }



/* MAINWINDOW     MAINWINDOW     MAINWINDOW     MAINWINDOW     MAINWINDOW     MAINWINDOW     MAINWINDOW     MAINWINDOW     MAINWINDOW     MAINWINDOW     MAINWINDOW     */
.mainwindow {
	width: 960px;
	margin: 0 auto;
	position: relative;
	padding: 40px 0 0;
}

.mainwindow .column_all {
	width: 960px;
	margin-left: 0px;
	float: left;
}

.mainwindow .column {
	width: 770px;
	margin-left: 10px;
	float: left;
}

.mainwindow .column.first {
	width: 180px;
	margin: 0px;
}

.header {
	clear: both;
	width: 960px;
	height: 25px;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
	margin-top:5px;
	padding: 0px;
	text-align:right;
	font-size: 10px;
	font-weight: normal;
	text-decoration:none;
}

.footer {
	clear: both;
	width: 960px;
	margin-bottom:40px;
}

/* GRID GRID GRID GRID GRID GRID GRID GRID GRID GRID GRID GRID GRID GRID GRID GRID GRID GRID GRID GRID GRID GRID GRID GRID GRID GRID GRID GRID GRID GRID */

/* CONTAINERS CONTAINERS CONTAINERS CONTAINERS CONTAINERS CONTAINERS CONTAINERS CONTAINERS CONTAINERS CONTAINERS CONTAINERS CONTAINERS CONTAINERS */
#container770 {
	clear:both;
	width: 770px;
	margin: 0 auto;
	position: relative;
}

#container960 {
	clear:both;
	width: 960px;
	margin: 0 auto;
	position: relative;
}


/* LAYOUT 1 COLUMN      LAYOUT 1 COLUMN       LAYOUT 1 COLUMN      LAYOUT 1 COLUMN      LAYOUT 1 COLUMN     LAYOUT 1 COLUMN */
.layout1col_960 .column {
	width: 960px;
	margin: 0px;
	float: left;
}

/* LAYOUT 2 COLUMNS RIGHT     LAYOUT 2 COLUMNS RIGHT    LAYOUT 2 COLUMNS RIGHT    LAYOUT 2 COLUMNS RIGHT    LAYOUT 2 COLUMNS RIGHT */
.layout2col_960 { width: 100%; }

.layout2col_960 .column {
	width: 720px;
	margin: 0px;
	float: left;
}

.layout2col_960 .column.last {
	width: 230px;
	margin: 0px;
	float: right;
}

/* LAYOUT 4 COLUMNS     LAYOUT 4 COLUMNS     LAYOUT 4 COLUMNS     LAYOUT 4 COLUMNS     LAYOUT 4 COLUMNS     LAYOUT 4 COLUMNS */
.layout4col_960 { width: 100%; }

.layout4col_960 .column {
	width: 235px;
	margin-left: 10px;
}

.layout4col_960 .column.first {
	width: 230px;
	margin: 0px;
	float: left;
}

.layout4col_960 .column.last {
	width: 230px;
	margin: 0px;
	float: right;
}


/* LAYOUT 1 COLUMN      LAYOUT 1 COLUMN       LAYOUT 1 COLUMN      LAYOUT 1 COLUMN      LAYOUT 1 COLUMN     LAYOUT 1 COLUMN */
.layout1col .column {
	width: 770px;
	margin: 0px;
	float: left;
}

/* LAYOUT 2 COLUMNS RIGHT     LAYOUT 2 COLUMNS RIGHT    LAYOUT 2 COLUMNS RIGHT    LAYOUT 2 COLUMNS RIGHT    LAYOUT 2 COLUMNS RIGHT */
.layout2col_right { width: 100%; }

.layout2col_right .column {
	width: 575px;
	margin: 0px;
	float: left;
}

.layout2col_right .column.last {
	width: 185px;
	margin: 0px;
	float: right;
}

/* LAYOUT 2 COLUMNS LEFT     LAYOUT 2 COLUMNS LEFT     LAYOUT 2 COLUMNS LEFT     LAYOUT 2 COLUMNS LEFT     LAYOUT 2 COLUMNS LEFT */
.layout2col { width: 100%; }

.layout2col .column {
	width: 575px;
	margin: 0px;
	float: right;
}

.layout2col .column.first {
	width: 185px;
	margin: 0px;
	float: left;
}

/* LAYOUT 2 COLUMNS EVEN     LAYOUT 2 COLUMNS EVEN     LAYOUT 2 COLUMNS EVEN     LAYOUT 2 COLUMNS EVEN     LAYOUT 2 COLUMNS EVEN */
.layout2col_even { width: 100%; }

.layout2col_even .column {
	width: 380px;
	margin: 0px;
	float: right;
}

.layout2col_even .column.first {
	width: 380px;
	margin: 0px;
	float: left;
}

/* LAYOUT 3 COLUMNS    LAYOUT 3 COLUMNS    LAYOUT 3 COLUMNS    LAYOUT 3 COLUMNS    LAYOUT 3 COLUMNS    LAYOUT 3 COLUMNS */
.layout3col { width: 100%; }

.layout3col .column {
	width: 380px;
	margin-left: 10px;
}

.layout3col .column.first {
	width: 185px;
	margin: 0px;
	float: left;
}

.layout3col .column.last {
	width: 185px;
	margin: 0px;
	float: right;
}

/* LAYOUT 3 COLUMNS RIGHT    LAYOUT 3 COLUMNS RIGHT    LAYOUT 3 COLUMNS RIGHT    LAYOUT 3 COLUMNS RIGHT    LAYOUT 3 COLUMNS RIGHT */
.layout3col_right { width: 100%; }

.layout3col_right .column {
	width: 185px;
	margin-left: 10px;
}

.layout3col_right .column.first {
	width: 380px;
	margin: 0px;
	float: left;
}

.layout3col_right .column.last {
	width: 185px;
	margin: 0px;
	float: right;
}

/* LAYOUT 3 COLUMNS LEFT    LAYOUT 3 COLUMNS LEFT    LAYOUT 3 COLUMNS LEFT    LAYOUT 3 COLUMNS LEFT    LAYOUT 3 COLUMNS LEFT */
.layout3col_left { width: 100%; }

.layout3col_left .column {
	width: 185px;
	margin-left: 10px;
}

.layout3col_left .column.first {
	width: 185px;
	margin: 0px;
	float: left;
}

.layout3col_left .column {
	width: 185px;
	margin-left: 10px;
}

.layout3col_left .column.last {
	width: 380px;
	margin: 0px;
	float: right;
}

/* LAYOUT 3 COLUMNS EVEN    LAYOUT 3 COLUMNS EVEN    LAYOUT 3 COLUMNS EVEN    LAYOUT 3 COLUMNS EVEN    LAYOUT 3 COLUMNS EVEN */
.layout3col_even { width: 100%; }

.layout3col_even .column {
	width: 250px;
	margin-left: 10px;
}

.layout3col_even .column.first {
	width: 250px;
	margin: 0px;
	float: left;
}

.layout3col_even .column.last {
	width: 250px;
	margin: 0px;
	float: right;
}

/* LAYOUT 4 COLUMNS     LAYOUT 4 COLUMNS     LAYOUT 4 COLUMNS     LAYOUT 4 COLUMNS     LAYOUT 4 COLUMNS     LAYOUT 4 COLUMNS */
.layout4col { width: 100%; }

.layout4col .column {
	width: 185px;
	margin-left: 10px;
}

.layout4col .column.first {
	width: 185px;
	margin: 0px;
	float: left;
}

.layout4col .column.last {
	width: 185px;
	margin: 0px;
	float: right;
}

/* CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT */
.poster {
	overflow: hidden;
	margin-bottom: 10px;
}

.poster.h20 { height: 20px; }

.poster.h100 { height: 91px; }

.poster.h150 { 
	height: 143px;
	margin-bottom: 9px;
	 }

.poster.h200 { height: 194px; }

.poster.h300 { height: 297px; }

.poster.h400 { height: 400px; }

.poster.h600 { height: 606px; }

.poster.h800 { height: 812px; }

.poster.h1000 { height: 1018px; }

.poster.h100p { height: 100%; }

