/* FORM    FORM    FORM    FORM    FORM    FORM    FORM    FORM    FORM    FORM    FORM    FORM    FORM    FORM    FORM    FORM    */

.form p	{
	padding: 0px;
	}

.form_left p	{
	padding:  10px 0px 0px 15px;
	}
	
.form_right p	{
	padding:  10px 0px 0px 5px;
	}
	
input	{
	width:175px;
	border:1px solid #666;
	float:left;
	padding:0;
	margin:0;
	height:18px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
}


.checkbox {
	width:16px;
	float:left;
	margin:0;
	padding:0px;
	height:16px;
}

textarea {
	width:355px;
	height:100px;
	border:1px solid #666;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	}
	