/************************************************************************************************************************************************************************/
/* NAVIGATION    NAVIGATION    NAVIGATION    NAVIGATION    NAVIGATION    NAVIGATION    NAVIGATION    NAVIGATION    NAVIGATION    NAVIGATION    NAVIGATION    NAVIGATION */
/************************************************************************************************************************************************************************/

/* GLOBAL HEADER     GLOBAL HEADER     GLOBAL HEADER     GLOBAL HEADER     GLOBAL HEADER     GLOBAL HEADER     GLOBAL HEADER           */
#globalheader {
	background-color:#ff2a00;
	width: 960px;
	height: 30px;
	margin:  -30px auto;
	padding-bottom: 0px;
	position: relative;
	z-index: 2000;
}

#globalheader_home	{
	clear: both;
	width: 960px;
	height: 402px;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
	margin-top:45px;
	margin-bottom:10px;
	padding: 0px;
	}

#globalheader_background {
	background-color:#ff2a00;
	width: 50%;
	height: 30px;
	position: relative;
	z-index: 1000;
}

#globalnav li {
	font-family: "Century gothic", "trebuchet MS", Arial, Helvetica, "Sans Serif";
	font-size:13px;
	padding-top: 4px;
	padding-left: 20px;
	overflow: hidden;
	margin: 0px;	
}

#blank  {
	float: left;
	padding-right: 10px;
}

#company {
	float:right;
	padding-right: 20px;
	text-align:right;
	font-weight:bold;
}

/************************************************************************************************************************************************************************/
/* NAVIGATION COLOR     NAVIGATION COLOR     NAVIGATION COLOR     NAVIGATION COLOR     NAVIGATION COLOR     NAVIGATION COLOR     NAVIGATION COLOR     NAVIGATION COLOR  */
/************************************************************************************************************************************************************************/

/* TOP MENU     TOP MENU     TOP MENU     TOP MENU     TOP MENU     TOP MENU     TOP MENU     TOP MENU     TOP MENU     TOP MENU     TOP MENU     TOP MENU     TOP MENU */
#globalnav li, #globalnav li a {
	color:#DDD;
	text-decoration: none;
}

#globalnav li a:hover {
	color: #FFF;
	text-decoration: none;
}

#globalnav li a:active {
	color:#00d5ff;
}

#globalnav li #selected	{
	color:#222;
	}